---
import Layout from '../layouts/Layout.astro';
import StashSearchBuilder from '../components/StashSearchBuilder';
---

<Layout title="Last Epoch Stash Search Builder">
  <main>
    <StashSearchBuilder client:load />
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
    background: #111827;
  }
</style>