---
// Footer component for Last Epoch Stash Search Builder
---

<footer class="bg-gray-800 border-t border-gray-700 mt-auto mb-28 md:mb-24">
  <div class="container mx-auto px-4 py-6">
    <div class="flex flex-col items-center justify-center space-y-3 text-sm text-gray-300">
      <div class="flex items-center space-x-2">
        <span>Made with</span>
        <svg class="w-4 h-4 text-red-400 fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-4 7c0-1.1.9-2 2-2h4c1.1 0 2 .9 2 2v2c0 .6-.4 1-1 1s-1-.4-1-1v-1h-4v1c0 .6-.4 1-1 1s-1-.4-1-1V9zm-2 6h12l-1 7H7l-1-7z"/>
        </svg>
        <span>by</span>
        <a 
          href="https://github.com/checkmatez" 
          target="_blank" 
          rel="noopener noreferrer"
          class="text-blue-400 hover:text-blue-300 transition-colors underline"
        >
          https://github.com/checkmatez
        </a>
      </div>
      
      <div class="flex items-center space-x-2">
        <span>Report bugs and feature requests to</span>
        <a 
          href="https://github.com/checkmatez/le-regexr" 
          target="_blank" 
          rel="noopener noreferrer"
          class="text-blue-400 hover:text-blue-300 transition-colors underline"
        >
          https://github.com/checkmatez/le-regexr
        </a>
      </div>
      
      <div class="text-gray-400 text-xs">
        This site is not affiliated with Eleventh Hour Games.
      </div>
    </div>
  </div>
</footer>